  
{% extends 'base.html' %}

{% block body %}
  <section class="header">
    <center>
      <h2 class="title">Seattle Violence Prediction!</h2>
    </center>
  </section>
  <hr />

  <div class="content">

    <form method="POST">
      {{ form.hidden_tag() }}
        <div class="row">
          <div class="three columns">
            {{ form.month.label }} {{ form.month() }}
          </div>
          <div class="three columns">
            {{ form.day.label }} {{ form.day() }}
          </div>
          <div class="three columns">
            {{ form.time.label }} {{ form.time() }}
          </div>
          <div class="three columns">
            {{ form.loc.label }} {{ form.loc() }}
          </div>
        </div>

  
      <div class="row">
        
         <center>
          <button type="submit" class="button-primary">Submit</button>
         </center>
        
      </div>
    </form>

    {% if prediction %}
      <div class="row">
        
          <center> <h2>The call is likely to be about a {{ prediction }} crime!</h2> </center>
          <center>
            <img src="{{url_for('static', filename='images/vio_' + prediction + '.png')}}"
              height="300"
            />
          </center>
        
        <div class="six columns">
         <!--  Your Chart or any other form of visualizations -->
         <div id="chart"></div>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock body %}

{% block js %}
  <script type="text/javascript">
  // your JS Code
  // Your D3 code could be here
  </script>
{% endblock js %}
