
{% extends 'base.html' %}

{% block body %}
  <section class="header">
    <h2 class="title">Seattle Call prioritization</h2>
  </section>
  <hr />

  <div class="content">

    <form action=" index.html " method="POST">
        



        <div class="row">
          <div class="three columns">
            {{ form.month.label }} {{ form.month() }}
          </div>
          <div class="three columns">
            {{ form.day.label }} {{ form.day() }}
          </div>
          <div class="three columns">
            {{ form.time.label }} {{ form.time() }}
          </div>
          <div class="three columns">
            {{ form.loc.label }} {{ form.loc() }}
          </div>
        </div>

  
      <div class="row">
        <div class="three columns">
          <button type="submit" class="button-primary">Submit</button>
        </div>
      </div>
    </form>

    {% if prediction %}
      <div class="row">
        <div class="six columns">
          <h2>The clearance time is {{ prediction }}</h2>
          <img src="{{url_for('static', filename='images/iris_' + prediction + '.jpg')}}"
              height="300"
          />
        </div>
        <div class="six columns">
         <!--  Your Chart or any other form of visualizations -->
         <div id="chart"></div>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock body %}

{% block js %}
  <script type="text/javascript">
  // your JS Code
  // Your D3 code could be here
  </script>
{% endblock js %}
